$blue-900: hsl(238, 29%, 16%);
$blue-500: hsl(240, 73%, 65%);

$gray-500: hsl(237, 12%, 33%);
$gray-300: hsl(240, 6%, 50%);
$gray-100: hsl(240, 5%, 91%);

$violet-500: hsl(273, 75%, 65%);
$red-300: hsl(14, 88%, 65%);
