@use "./reset";
@use "./colors";

body {
  background: linear-gradient(colors.$violet-500, colors.$blue-500);
  min-height: 100vh;
  display: grid;
  place-items: center;
}

main {
  margin-inline: 1.5rem;
}

.card {
  background-color: colors.$white;
  border-radius: 24px;
  display: grid;
  padding-inline: 1.5rem;
  padding-block: 1.5rem;
  width: 100%;

  h1 {
    text-align: center;
    margin-bottom: 2.5rem;
  }

  .wrapper {
    display: grid;
    gap: 1rem;

    details {
      font-size: 0.875rem;
      color: colors.$gray-300;
      padding-bottom: 1rem;
      border-bottom: 1px solid colors.$gray-100;

      summary {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 1rem;

        &:after {
          background-image: url("../images/icon-arrow-down.svg");
          content: "";
          display: inline-block;
          height: 6px;
          width: 10px;
        }
      }

      &[open] {
        summary {
          &:after {
            rotate: 180deg;
          }
        }
      }
      p {
        font-size: 0.875rem;
        color: colors.$gray-300;
        margin-top: 1rem;
      }
    }
  }
}
